<wrapper class="bg-white">
  <row class="bg-white">
    <columns small="6" large="8">
      <row>
        <columns small="12" large="2">
          <img src="https://via.placeholder.com/50" class="thumbnail" />
        </columns>
        <columns small="12" large="8" valign="middle">
          <a href="#">{{item}}</a>
          <p class="text-sm text-gray-300">{{item-number}}</p>
        </columns>
      </row>
    </columns>
    <columns small="2" large="1" valign="middle"><p class="">3</p></columns>
    <columns small="2" large="1" valign="middle"><p class="">$2.99</p></columns>
    <columns small="2" valign="middle"><p class="text-right">$6.99</p></columns>
  </row>
</wrapper>
